.btHome, .btTop {
    /* Menu BackToTop and Home flottant à gauche de la page
       Source: http://www.blogduwebdesign.com/ */ 
    background: url("/xwiki/bin/download/Customization/BackToTop/pictosLeft.png") no-repeat scroll 2px -2px #c6c6c6;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
    display: block;
    height: 40px;
    margin: 5px 0 3px;
    position: fixed;
    width: 28px;
    z-index: 100;
left: 0;
}

.btTop.hidden {
  opacity: 0;
}

.btTop {
  background-position: 3px -37px;
  margin: 47px 0 3px 0;
}

.btHome:hover, .btTop:hover {
  background-color: #26ade4 !important;
}

#btHomeTop {
/*Positionne le div contenant les icones Top et Home*/
        position: fixed;
        width: 28px;
        height: 93px;
        top: 15%;
        right: auto;
        bottom: 100px;
        left: 0;
      }

